* {
  margin: 0px;
  padding: 0px;
  gap: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #bdbaba;
  --main-border-color: #535353;
}

  body {
    background-color: rgb(143, 215, 211);
  }

.parent {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 1em;
}

.field {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  display: none;
  border: 1px solid #535353;
}

.cell {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid #535353;
  border-radius: 10px;
  position: absolute;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}

.child1 {
  display: grid;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  box-shadow: 10px 8px 8px rgb(33, 32, 32);
  font-size: 1.6em;
  box-sizing: border-box;
}

.child2 {
  margin-top: 2em;
  display: block;
  border-radius: 10px;
}

#full-image-container {
  margin-top: 2em;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

#full-image {
  width: 100%;
  height: auto;
  margin-right: 2em;
}

.titleAndButton {
  text-align: center;
  vertical-align: top;
}

.result {
  display: none;
  text-align: center;
}

.game {
  font-weight: 500;
  width: 80%;
  height: min-content;
  margin: 0.5em;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  border-radius: 3px;
  background: rgb(64, 199, 129);
  transition: 0.2s;
}

.game:hover {
  background: rgb(53, 167, 110);
}

.game:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

h1 {
  font-family: 'Arial Black';
}

.slide-titulo {
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
  margin: 0em 0em 1em 0em;
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  body {
    background-color: rgb(143, 215, 211);
  }

  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .difficulty {
    font-family: 'Arial';
    height: fit-content;
    font-size: 1em;
    margin-top: 0.8em;
  }

  .child1 {
    order: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0.8em 0em 0.8em 0em;
    background-color: rgb(255, 255, 255);
  }

  .slide-titulo {
    font-size: 1.8em;
    margin-top: 1em;
  }

  .difficulty {
    font-size: 1em;
  }

  /* telas menores */
  .result {
    display: none;
  }

  .child2 {
    order: 2;
    margin: 20px;
    padding-top: 20px;
  }

  #full-image-container {
    margin-top: 1em;
    order: 3;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
  }

  .slide {
    order: 2;
    text-align: center;
  }
}